In [10]:
import os
import pathlib

import duckdb
import pandas as pd
from sqlalchemy import create_engine

In [11]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [12]:
stg_path = pathlib.Path(os.getenv('DUCKDB_DATA'), 'stg.duckdb').as_posix()
stg_conn = duckdb.connect(stg_path, read_only=True)

In [13]:
%sql stg_conn

In [14]:
%sql show tables

Running query in 'DuckDBPyConnection'

+------------------------+
|          name          |
+------------------------+
| stg_bill_of_materials  |
|      stg_currency      |
|   stg_currency_rate    |
|      stg_customer      |
|      stg_employee      |
|       stg_person       |
|      stg_product       |
| stg_sales_order_detail |
| stg_sales_order_header |
|    stg_sales_person    |
+------------------------+
Truncated to displaylimit of 10.

In [15]:
%%sql
select * from stg_person

Running query in 'DuckDBPyConnection'

+--------------------+-------------+------------+-------+------------+-------------+------------+--------+-----------------+-------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------+---------------------+
| id_business_entity | person_type | name_style | title | first_name | middle_name | last_name  | suffix | email_promotion | additional_contact_info |                                                                             demographics                                                                             |               rowguid                |    modified_date    |
+--------------------+-------------+------------+-------+------------+-------------+------------+--------+-----------------+-------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------+---------------------+
|         1          |      EM     |   False    |  None |    Ken     |      J      |  Sánchez   |  None  |        0        |           None          | ﻿<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey> | 92C4279F-1207-48A3-8448-4636514EB7E2 | 2009-01-07 00:00:00 |
|         2          |      EM     |   False    |  None |   Terri    |     Lee     |   Duffy    |  None  |        1        |           None          | ﻿<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey> | D8763459-8AA8-47CC-AFF7-C9079AF79033 | 2008-01-24 00:00:00 |
|         3          |      EM     |   False    |  None |  Roberto   |     None    | Tamburello |  None  |        0        |           None          | ﻿<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey> | E1A2555E-0828-434B-A33B-6F38136A37DE | 2007-11-04 00:00:00 |
|         4          |      EM     |   False    |  None |    Rob     |     None    |  Walters   |  None  |        0        |           None          | ﻿<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey> | F2D7CE06-38B3-4357-805B-F4B6B71C01FF | 2007-11-28 00:00:00 |
|         5          |      EM     |   False    |  Ms.  |    Gail    |      A      |  Erickson  |  None  |        0        |           None          | ﻿<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey> | F3A3F6B4-AE3B-430C-A754-9F2231BA6FEF | 2007-12-30 00:00:00 |
|         6          |      EM     |   False    |  Mr.  |   Jossef   |      H      |  Goldberg  |  None  |        0        |           None          | ﻿<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey> | 0DEA28FD-EFFE-482A-AFD3-B7E8F199D56F | 2013-12-16 00:00:00 |
|         7          |      EM     |   False    |  None |   Dylan    |      A      |   Miller   |  None  |        2        |           None          | ﻿<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey> | C45E8AB8-01BE-4B76-B215-820C8368181A | 2009-02-01 00:00:00 |
|         8          |      EM     |   False    |  None |   Diane    |      L      |  Margheim  |  None  |        0        |           None          | ﻿<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey> | A948E590-4A56-45A9-BC9A-160A1CC9D990 | 2008-12-22 00:00:00 |
|         9          |      EM     |   False    |  None |    Gigi    |      N      |  Matthew   |  None  |        0        |           None          | ﻿<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey> | 5FC28C0E-6D36-4252-9846-05CAA0B1F6C5 | 2009-01-09 00:00:00 |
|         10         |      EM     |   False    |  None |  Michael   |     None    |   Raheem   |  None  |        2        |           None          | ﻿<IndividualSurvey xmlns="http://schemas.microsoft.com/sqlserver/2004/07/adventure-works/IndividualSurvey"><TotalPurchaseYTD>0</TotalPurchaseYTD></IndividualSurvey> | CA2C740E-75B2-420C-9D4B-E3CBC6609604 | 2009-04-26 00:00:00 |
+--------------------+-------------+------------+-------+------------+-------------+------------+--------+-----------------+-------------------------+----------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------------------------------------+---------------------+
Truncated to displaylimit of 10.

In [9]:
%%sql
select 
    id_sales_order,
    count(revision_number)
from stg_sales_order_header
group by id_sales_order

Running query in 'DuckDBPyConnection'

+----------------+------------------------+
| id_sales_order | count(revision_number) |
+----------------+------------------------+
|     43661      |           1            |
|     43662      |           1            |
|     43664      |           1            |
|     43667      |           1            |
|     43668      |           1            |
|     43672      |           1            |
|     43675      |           1            |
|     43678      |           1            |
|     43679      |           1            |
|     43680      |           1            |
+----------------+------------------------+
Truncated to displaylimit of 10.

In [24]:
stg_conn.close()